body{
    font-family:Verdana, Geneva, Arial, sans-serif;
    font-size:small;
    Background-color:#eeeeee;
    color: #35382A;
    line-height:normal;
    min-width:1100px;
}

#allContent{
    margin: 0 250px;
    Background-color: white;
}

p{
    color:black;
    margin:0 0 15px 0;
}

h1,h2{
    font-family:sans-serif;
    color:black;
}

h1{
    border-bottom 1px solid black;
    font-size: 170%;
}

h2{
    font-size:100%;
}

a:link{
    color:brown;
}

a:visited{
    color:purple;
}

a:hover{
    color:maroon;
}

#header{
    margin: 0;
    padding-top: 10px;
/*    background-color: #383838;*/
/*    background-color: rgba(38, 38, 38, 0.98);*/
}

img{
    border: 0 none;
    margin: 0 none;
}

#logo{
    text-align: center;
    margin: 0 30px;
}

#logo a{
    text-decoration: none;
    overflow: hidden;
    margin: 100px 0;
    border: 0 none;
}


#nav{
    background-color: #383838;
    /*	Background-color: rgba(38, 38, 38, 0.98); */
    font-size: 120%;
    height: 30px;
    position: relative;
    /*	border-top: 1px solid silver;*/
    border-bottom: 5px solid gold;
}

#nav ul{
    height: auto;
    margin: 0 0 0 0;
    position: relative;
}

#nav li{
    Background-color: rgba(38, 38, 38, 0.98);
    float:left;
    list-style-type:none;
    position: relative;
}

#nav li a:link{
    color: #fff;
    text-decoration:none;
    padding-top:4px;
    padding-bottom:4px;
    display:block;
    width:97px;
    height:22px;
    text-align:center;
    Background-color: none;
}

#nav li a:visited{
    color: Khaki;
    text-decoration:none;
    padding-top:4px;
    padding-bottom:4px;
    display:block;
    width:97px;
    height:22px;
    text-align:center;
    Background-color: none;
}

#nav li a:hover{
    color: #fff;
    text-decoration:none;
    padding-top:4px;
    padding-bottom:4px;
    display:block;
    width:97px;
    height:22px;
    text-align:center;
    Background-color: DimGray;
}

#main{
    margin: 0 10px 15px 10px;
    text-align: left;
}

#footer{
    height: 50px;
    margin: 0 0 0 0;
    padding-top: 20px;
    text-align: center;
    border-top: 1px dotted black;
}
